:root {
    --miitmi-btn-share-color-left: #EE2A24ff;
    --miitmi-btn-share-color-right: #F1592A;

    --miitmi-btn-video-color-left: #F1592A;
    --miitmi-btn-video-color-right: #EE2A24ff;
    
    --miitmi-btn-color: #FFFFFF;
    
    --miitmi-font-family: Verdana, Geneva, Tahoma, sans-serif;
  }