:host {
  display: block;



}

button {
  height: 36px;

  border: none;
  border-radius: 4px;
  
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  
  margin: 5px;
  padding: 10px;
}

.share {
  background-image: linear-gradient(to right, #EE2A24 , #F1592A);
}

.video{
  background-image: linear-gradient(to right, #F1592A , #EE2A24);
}