:host {
  display: block;

}

button {
  height: 36px;

  border: none;
  border-radius: 4px;
  
  color: var(--miitmi-btn-color);
  font-size: 14px;
  font-weight: 500;
  
  font-family: var(--miitmi-font-family);

  margin: 5px;
  padding: 10px;
}

.share {
  background-image: linear-gradient(to right,var(--miitmi-btn-share-color-left) ,var(--miitmi-btn-share-color-right));
}

.video{
  background-image: linear-gradient(to right,var(--miitmi-btn-video-color-left) ,var(--miitmi-btn-video-color-right));
}