:host {
  display: block;



}

button {
  height: 36px;

  border: none;
  border-radius: 4px;
  
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  
  margin: 5px;
  padding: 10px;
}

.share {
  background-color: #3880ff;
}

.video{
  background-color: #3dc2ff;
}